name: "Deploy to Deta"
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Unittest
        shell: bash
        run: |
          make unittest
        
      # Install Deta CLI as per docs
      # https://docs.deta.sh/docs/cli/install
      - name: Install Deta CLI
        shell: bash
        run: |
          curl -fsSL https://get.deta.dev/cli.sh | sh

      # Using the access token, deploy the project to Deta
      # https://docs.deta.sh/docs/cli/commands#deta-deploy
      - name: Deploy to Deta
        shell: bash
        run: |
          export DETA_ACCESS_TOKEN=${{ secrets.DETA_ACCESS_TOKEN }}
          make deploy
